<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helpmequickly_my">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />



    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="com.example.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".MyEvaluateActivity" />
        <activity android:name=".MyTaskActivity" />
        <activity android:name=".SchoolAuthenticationActivity" />
        <activity android:name=".RegisterSuccessActivity" />
        <activity android:name=".ReleaseTaskActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".TypeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="快来帮"><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mypet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".UserInfoActivity" />
    </application>

</manifest>